// Variables
// *------------------------------------------------*
$color-slate: #4d4d4d;
$color-gray: #808080;

$radius-3: 3px;
$margin-6: 6px;

// Topic list
// *------------------------------------------------*
.topic-list {
  td {
    font-size: 0.8em;
  }

  td:first-of-type {
    margin: 1em 0 1em 1em;

    &::before, &::after {
      display: none;
    }
  }

  td.star {
    width: 40px;
  }

  td.last-post, th.activity {
    width: 15%;
    text-align: center;
    .relative-date {
      color: $color-slate;
    }
  }
  td.last-post {
    padding: 10px;
  }
  td.main-link .topic-excerpt {
    font-size: $font-down-2;
    margin-top: 1em;
  }
  .main-link .header a.title {
    padding: 0;
  }
  .main-link .header {
    align-items: center;
  }
  .creator, .editor {
    font-size: 13px;
    display: block;
    margin-top: 3px;
  }
  .creator {
    margin-top: 1em;
  }
  .topic-list-item .discourse-tags {
    margin-right: $margin-6;
  }
  .with-year {
    margin-right: $margin-6;  
  }
  button.bulk-select {
    padding: 5px;
  }
  .creator-username {
    margin-right: $margin-6;
  }
  .creator-avatar {
    margin-right: 10px;
    display: flex;
    align-items: center;
  }
  .poster-avatar {
    width: 15%;
    float: right;
    margin-top: 5px;
    margin-right: 10px;
  }
  .poster-info {
    text-align: center;
  }
  .badge-wrapper.bullet {
    margin-right: 0.5em;
  }
  .reply-comment {
    margin-right: 1em;
  }

  .topic-views, .reply-comment {
    font-size: 1.3em;
    font-weight: 300;
  }

  .header {
    display: inline-flex;
  }

  .topic-statuses {
    align-self: center;
  }
}
